.sign-in-container, .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-form {
    background: none;
    background-color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    margin: 25px 0;
  }
  
  .input-form:focus {
    outline: none;
  }
  
  .btn-form {
    min-width: 165px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .button-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btn-cancel {
    text-decoration: none;
    border: 1px solid #e9e9e9;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    transition: color 0.2s ease, background-color 0.2s ease;
    color: #000;
  }